# dependencies
node_modules/

# build outputs
dist/
build/

# environment
.env
.env.local
.env.*.local

# database
*.db
*.db-journal
prisma/dev.db
prisma/prod.db
prisma/migrations/

# uploads subidas localmente
apps/api/uploads/*
!apps/api/uploads/.gitkeep

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
